body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 10px;
}

button {
    background-color: #808080;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #555;
}

input[type=checkbox] { 
    vertical-align: middle; 
    position: relative; 
}

input[type=number] {
    margin-bottom: 10px;
}
  
label { 
    display: block;
}
